%h1 Site Configuration
- form_for @site, :url => admin_site_configuration_url, :html => { :method => :put } do |f|
  %table.fieldset{:cellpadding=>0, :cellspacing=>0, :border=>0}
    %tr
      %th.label
        = label_tag :site_hostname, "Hostname"
      %td.field{:style=>"text-align: left"}
        = @site.hostname
      %td.help 
    %tr
      %th.label
        = label_tag :site_organization_name, "Organization Name"
      %td.field
        = f.text_field "organization_name", :class => 'textbox', :maxlength =>100
      %td.help 
    %tr
      %th.label
        = label_tag :site_description, "Description"
      %td.field
        = f.text_field "description", :class => 'textbox', :maxlength =>255
      %td.help General description of site. Used by some search engines. 
    %tr
      %th.label
        = label_tag :site_keywords, "Keywords"
      %td.field
        = f.text_field "keywords", :class => 'textbox', :maxlength =>255
      %td.help Space separated keywords. Used by some search engines.
    %tr
      %th.label
        = label_tag :site_google_maps_key, "Google Maps Key"
      %td.field
        = f.text_field "google_maps_key", :class => 'textbox', :maxlength => 255
      %td.help Associated with the first hostname in hostname list
    %tr
      %th.label
        = label_tag :site_google_analytics_id, "Google Analytics ID"
      %td.field
        = f.text_field "google_analytics_id", :class => 'textbox', :maxlength => 255
      %td.help Associated with the first hostname in hostname list
    %tr
      %th.label
        = label_tag :site_twitter_username, "Twitter Username"
      %td.field
        = f.text_field "twitter_username", :class => 'textbox', :maxlength => 255
      %td.help Automatically send tweets when you create or update pages
    %tr
      %th.label
        = label_tag :site_twitter_username, "Twitter Password"
      %td.field
        = f.password_field "twitter_password", :class => 'textbox', :maxlength => 255
      %td.help
  %p.buttons
    = save_model_button @site
    or
    = link_to 'Cancel', admin_url
